# Protects against the "Dirty Frag" exploit (CVE-2026-43500, CVE-2026-43284) by
# disabling the buggy features used for the exploit. (These shouldn't be needed
# anyway.)
CONFIG_INET_ESP=n
CONFIG_INET6_ESP=n
CONFIG_AF_RXRPC=n
